/*Общее*/

* {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	/*cursor: pointer;*/
	text-decoration: none;
}

.conteiner {
	width: 1140px;
	margin: auto;
}

.points {
	height: 2px;
	margin-top: 30px;
	background-image: url('../images/points.png');
	background-repeat: no-repeat;
	background-position: center;
}

.arrow {
	width: 15px;
	height: 13px;
	position: relative;
	top: -5px;
	left: 50%;
	transform: translate(-50%,0);
	background-image: url('../images/arrow-1.png');
	background-size: auto;
	background-repeat: no-repeat;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	cursor: pointer;
}

.arrow:hover {
	background-image: url('../images/arrow-2.png');
} 

/*Шрифты*/ 

.title-1 {
	font-family: 'GothamRounded-Book';
	font-size: 40px;
	letter-spacing: 12.5px;
}

.title-2 {
	font-family: 'GothamRounded-Medium';
	font-size: 15px;
	line-height: 100%;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.title-3 {
	font-family: 'GothamRounded-Book';
	font-size: 40px;
	letter-spacing: 9px;
}

.text-1 {
	font-family: 'GothamRounded-Book';
	font-size: 15px;
	letter-spacing: 2px;
}

.text-2 {
	font-family: 'GothamRounded-Medium';
	font-size: 15px;/* Приближение из-за подстановки шрифтов */
	line-height: 100%;/* Приближение из-за подстановки шрифтов */
	letter-spacing: 2px;
	text-transform: uppercase;
}

.text-3 {
	font-family: 'GothamRounded-Medium';
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	line-height: 30px;/* Приближение из-за подстановки шрифтов */
	letter-spacing: -0.05px;
}

.text-4 {
	font-family: 'GothamRounded-Medium';
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	line-height: 20px;/* Приближение из-за подстановки шрифтов */
	letter-spacing: 0.5px;
}

.text-5 {
	font-family: 'GothamRounded-Book';
	font-size: 25px;/* Приближение из-за подстановки шрифтов */
/*	line-height: 150px; Приближение из-за подстановки шрифтов */
	letter-spacing: 6.9px;
}

.text-6 {
	font-family: 'GothamRounded-Book';
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
/*	line-height: 150px; Приближение из-за подстановки шрифтов */
	letter-spacing: 0.6px;
}

/*Меню*/

.block__menu a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  cursor: default;
  color: #a1a9b0; }

 .drop-text {
 	font-family: 'GothamRounded-Light';
	font-size: 40px;
 }

 #ul {
 	font-family: 'GothamRounded-Light';
	font-size: 24px;
 }

nav {
  text-align: center;
  background-color: #ffffff;
  position: fixed;
  z-index: 99;
  right: 0;
  /*display: inline-block;*/
  height: 60px;
  line-height: 60px;
  width: 309px; }

nav ul li ul {
  display: none;
  margin-top: 10px; }
  nav ul li ul li {
    display: block; }
    nav ul li ul li:hover {
      background-color: #F4F4F4; }

nav li li {
  background-color: #ffffff; }

.home {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom: 1px #d7d9dd solid;
  position: relative; }
  .home:hover a {
    color: #6d6c6c; }
  .home:hover .blue-box {
    background-color: #242830;
    position: absolute;
    margin-left: 0;
    height: 100%;
    width: 4px; }

.settings {
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top: 1px #d7d9dd solid; }
  .settings:hover a {
    color: #6d6c6c; }
  .settings:hover .blue-box {
    background-color: #242830;
    position: absolute;
    margin-left: 0;
    height: 100%;
    width: 4px; }

.messages:hover a {
  color: #6d6c6c; }
.messages:hover .blue-box {
  background-color: #242830;
  position: absolute;
  margin-left: 0;
  height: 100%;
  width: 4px; }

.marked {
  background-color: #ffffff;
  }

.marked1 {
  color: #a1a9b0; }



/*Блок-1*/

.block-1 {
	margin-top: 0px;
	height: 100vh;
	width: 100%;
	position: relative;
}

.block-1__content {
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
	background-image: url('../images/bg-1.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: center center;
}

.block-1__title {
	width: 440px;
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%,0);
	color:  #353535;
	text-transform: uppercase;
}

.block-1__title span {
	color: #a1a9b0;
}

.block-1__text {
	width: 607px;
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-50%,0);
    color:  #8c9398;
}

.button-1 {
	width: 200px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,0);
}

.button-1 button{
	outline: none;
	width: 200px;
	height: 60px;
    color: #ffffff;
    background-color: #3dc9b3;
	border-radius: 5px;
	-moz-border-radius:  5px;
	-webkit-border-radius:  5px;
	border:none;
	text-align: center;
	vertical-align: middle;
}

button.more:hover  {
background: rgba(0,0,0,0);
color: #3dc9b3;
box-shadow: inset 0 0 0 3px #3dc9b3;
cursor: pointer;
} 

/*Блок-2*/

.block-2 {
	margin-top: 110px;
	height: 377px;
	width: 100%;
	position: relative;
}

.block-2__content {
	position: relative;
	top: 0;
    left: 0;
	width: 100%;
}

.block-2-3-4-8-10__title {
	width: 452px;
	position: relative;
	top: 0px;
	left: 50%;
	transform: translate(-50%,0);
	text-align: center;
	color:  #353535;
}

.block-2__text {
	width: 724px;
	position: relative;
	top: 60px;
	margin: auto;
    text-align: center;
    color: #8c9398;
}

.block-2__text span {
	color: #353535;
}

/*Блок-3*/

.block-3 {
	margin-top: 102px;
	height: 630px;
	width: 100%;
	position: relative;
}

.block-3__content {
	position: relative;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.three__columns {
	padding-top: 60px;
	width: 100%;
	position: relative;
}

.col {
	width: 33.3%;
	float: left;
	text-align: center;
}

.col img {
	margin: auto;
}

.col__title {
	padding-top: 54px;
	color: #353535;
}

.col__line {
	padding-top: 26px;
}

.col__text {
	padding-top: 20px;
	color: #8c9398;
}

/*Блок-4*/

.block-4 {
	margin-top: 0;
	height: 700px;
	width: 100%;
	background-image: url('../images/phone.png');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center center;
}

.rectangle {
	height: 700px;
	width: 556px;
	margin-left: 585px;
	background-color: #f3f5f8;
}

.slider-1 {
	width: 460px;
	height: 432px;
	position: relative;
	margin-left: 116px;
	top: 50%;
	transform: translate(0,-50%);
}


.slider-1__content {
	width: 460px;
}

.block-4__text {
	padding-top: 45px;
	color: #8c9398;
}

/*Карусель*/

.owl-dots {
	margin-top: 135px;
	width: 100%;
	text-align: center;
}

.owl-dot {
	width: 10px;
	height: 10px;
	background-color: #ffffff;
	border-radius: 10em;
	border-style: solid;
	display: inline-block;
	margin: 5px;
	border-width: 2px;
	border-color: #c9cbca;
}

.owl-dots .active {
	background-color: #000000;
}

/*Блок-5*/ 

.block-5 {
	margin-top: 0;
	height: 300px;
	width: 100%;
	position: relative;
}

.block-5__content {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: url('../images/bg-2.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.block-5__title {
	width: 575px;
	position: absolute;
	top: 82px;
	left: 50%;
	transform: translate(-50%,0);
	color:  #ffffff;
	text-transform: uppercase;
}

.block-5__text {
	width: 441px;
	position: absolute;
	top: 139px;
	left: 50%;
	transform: translate(-50%,0);
	color:  #ffffff;
	text-transform: uppercase;
}

.design {
	font-family: 'GothamRounded-MediumItalic';
	font-weight: 500;
	font-style: italic;
}

.block-5__arrow {
	width: 44px;
	height: 44px;
	position: relative;
	top: 201px;
	left: 50%;
	transform: translate(-50%,0);
	background-image: url('../images/arrow-3.png');
	background-size: cover;
	background-repeat: no-repeat;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	cursor: pointer;
}

.block-5__arrow:hover {
	margin-top: 20px;
} 

/*Блок-6*/

.block-6 {
	margin-top: 104px;
	height: 557px;
	width: 100%;
	position: relative;
}

.slider-2 {
	width: 100%;
	height: 400px;
	position: relative;
}

.slider-2__content {
	width: 360px;
	text-align: center;
}

.block-6 .owl-dots {
	margin-top: 70px;
	width: 100%;
	text-align: center;
}

.block-6 .three__columns {
	padding-top: 0px;
	width: 100%;
	position: relative;
}

/*Блок-7*/

.block-7 {
	height: 200px;
	width: 100%;
	position: relative;
	background-color: #242830;
}

.button-2 {
	width: 300px;
	position: absolute;
	top: 62px;
	left: 50%;
	transform: translate(-50%,0);
}

.button-2 button{
	outline: none;
	width: 300px;
	height: 76px;
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
	border-radius: 5px;
	-moz-border-radius:  5px;
	-webkit-border-radius:  5px;
	text-align: center;
	vertical-align: middle;
}

button.ignite:hover  {
color: #242830;
background-color: #ffffff;
cursor: pointer;
} 

/*Блок-8*/

.block-8 {
	position: relative;
	margin-top: 87px;
	height: 790px;
	width: 100%;
}

.block-8__content {
	position: relative;
}

.slider-3 {
	width: 100%;
	height: 469px;
	position: relative;
}

.icons__carousel {
	width: 40%;
	padding-top: 40px;
	position: relative;
	margin: auto;
}

.social {
	width: 40px;
	height: 40px;
	background-color: #242830;
	border-radius: 20px;
	margin: auto;
}

.social__img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.social:hover {
	background-color: #3dc9b3;
	cursor: pointer;
}

.block-8 .owl-dots {
	margin-top: 70px;
	width: 100%;
	text-align: center;
}

/*Блок-9*/ 

.block-9 {
	position: relative;
	margin-top: 0;
	height: 451px;
	width: 100%;
}

.block-9__content {
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg-3.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.block-9__img {
	width: 25px;
	height: 26px;
	position: absolute;
	top: 122px;
	left: 50%;
	transform: translate(-50%,0);
	background-image: url(../images/img-4.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.block-9__title {
	width: 330px;
	position: absolute;
	color: #ffffff;
	text-transform: uppercase;
	position: absolute;
	top: 172px;
	left: 50%;
	transform: translate(-50%,0);
}


.input__field input {
	outline:none;
	position: relative;
	top: 230px;
	left: 35.75%;
	height: 65px;
	width: 351px;
	border: 1px;
	border-style: solid;
	border-radius: 1px;
	background-color: transparent;
	border-color: #ffffff;
	/*Текст ввода*/
	font-size: 30px;
	color: #ffffff;
}

.submit__button input {
	position: absolute;
	top: 230px;
	left: 58%;
  	height: 67px;
	width: 99px;
	border: 0px;
	border-radius: 1px;
	background: #3dc9b3;
	cursor: pointer;
	/*Текст на кнопке*/
	color: #ffffff;
	font-family: 'GothamRounded-Medium';
	font-size: 15px;
	line-height: 100%;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.block-9__arrow {
	width: 50px;
	height: 50px;
	position: absolute;
	z-index: 5;
	top: 425px;
	left: 50%;
	transform: translate(-50%,0);
	background-image: url('../images/arrow-4.png');
	background-size: cover;
	background-repeat: no-repeat;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	cursor: pointer;
}


.block-9__arrow:hover {
	margin-top: -20px;
} 

/*Блок-10*/

.block-10 {
	margin-top: 0px;
	height: 673px;
	width: 100%;
	position: relative;
	background-image: url('../images/bg-4.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.block-10__content {
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	position: relative;
	padding-top: 128px;
}

.icons__block-10 {
	width: 14%;
	top: 96px;
	position: relative;
	margin: auto;
}

/*Блок-11*/

.block-11 {
	padding-top: 0px;
	height: 121px;
	background-color: #242830;
}

.block-11__content {
	position: relative;
}

.block-11__text {
	position: relative;
	top: 56px;
}

.info {
	float: left;
	color: #a1a9b0;
}

.info span {
	color: #ffffff;
}

.designby {
	float: right;
	color: #ffffff;
}

.designby span  {
	color: #a1a9b0;
}

.codrops {
	color: #a1a9b0;
	font-family: 'GothamRounded-BoldItalic';
	font-weight: 500;
	font-style: italic;
}